{% liquid 
  assign wholeRating = rating | floor
  assign missing_stars = 5 | minus: rating | floor
  assign sum = wholeRating | plus: missing_stars
  if sum != 5
    assign halfStars = 1
  else
    assign halfStars = 0
  endif
%}
{% case type %}
  {% when 'card' %}
    <div class="flex row jc-c ai-c ml-2 mr-3 mb-2 h-16px">
      {% if wholeRating > 0 %}
        {% for i in (1..wholeRating) %}
          <span>
            {%- render 'star-yellow-full' -%}
          </span>
        {% endfor %}
      {% endif %}
      {% if halfStars == 1 %}
        <span>
          {%- render 'star-yellow-half' -%}
        </span>
      {% endif %}
      {% if missing_stars > 0 %}
        {% for j in (1..missing_stars) %}
          <span>
            {%- render 'star-yellow-none' -%}
          </span>
        {% endfor %}
      {% endif %}
    </div>
    <div class="ff-body fw-400 fs-12px lh-100 mt-0 ta-c">
      ({% if reviewCount > 0 %}{{ reviewCount }} {% else %}0 {% endif %}
      {% if reviewCount == 1 %}Bewertung{% else %}Bewertungen{% endif %})
    </div>
    {% when 'bestseller' %}
      <div class="flex row jc-c ai-c ml-2 mr-2 mb-2 h-16px">
        {% if wholeRating > 0 %}
          {% for i in (1..wholeRating) %}
            <span>
              {%- render 'star-yellow-full' -%}
            </span>
          {% endfor %}
        {% endif %}
        {% if halfStars == 1 %}
          <span>
            {%- render 'star-yellow-half' -%}
          </span>
        {% endif %}
        {% if missing_stars > 0 %}
          {% for j in (1..missing_stars) %}
            <span>
              {%- render 'star-yellow-none' -%}
            </span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="ff-body fw-400 fs-12px lh-100 mt-0 ta-c">
        ({% if reviewCount > 0 %}{{ reviewCount }}{% else %}0{% endif %})
      </div>
  {% when 'berater' %}
    <div class="review-div">
      {% if wholeRating > 0 %}
        {% for i in (1..wholeRating) %}
          <span>
            {%- render 'star-yellow-full' -%}
          </span>
        {% endfor %}
      {% endif %}
      {% if halfStars == 1 %}
        <span>
          {%- render 'star-yellow-half' -%}
        </span>
      {% endif %}
      {% if missing_stars > 0 %}
        {% for j in (1..missing_stars) %}
          <span>
            {%- render 'star-yellow-none' -%}
          </span>
        {% endfor %}
      {% endif %}
      <p class="bewertungen">
        ({% if reviewCount > 0 %}{{ reviewCount }} {% else %}0 {% endif %}
        {% if reviewCount == 1 %}Bewertung{% else %}Bewertungen{% endif %})
      </p>
    </div>
  {% when 'review' %}
    <div class="flex pos-rel">
      {% if wholeRating > 0 %}
        {% for i in (1..wholeRating) %}
          <span>
            {%- render 'star-yellow-full' -%}
          </span>
        {% endfor %}
      {% endif %}
      {% if halfStars == 1 %}
        {%- render 'star-yellow-half' -%}
      {% endif %}
      {% if missingStars > 0 %}
        {% for j in (1..missingStars) %}
          <span>
            {%- render 'star-yellow-none' -%}
          </span>
        {% endfor %}
      {% endif %}
    </div>
  {% when 'page' %}
    <div class="flex row jc-c jc-lg-fs ai-c mb-7i h-12px mt-0i">
      <div class="flex row jc-fs ai-c h-12px mt-0i mr-2i">
      {% if wholeRating > 0 %}
        {% for i in (1..wholeRating) %}
          <span style="position: relative; top: 2px;"">
            {%- render 'star-yellow-full' -%}
          </span>
        {% endfor %}
      {% endif %}
      {% if halfStars == 1 %}
        <span style="position: relative; top: 2px;">
          {%- render 'star-yellow-half' -%}
        </span>
      {% endif %}
      {% if missing_stars > 0 %}
        {% for j in (1..missing_stars) %}
          <span style="position: relative; top: 2px;">
            {%- render 'star-yellow-none' -%}
          </span>
        {% endfor %}
      {% endif %}
    </div>
      <div class="ff-body fw-400 fs-12px lh-100 mt-0 ta-c italic">
        ({% if reviewCount > 0 %}{{ reviewCount }}{% else %}0{% endif %})
      </div>
    </div>
  {% when 'preview' %}
    {% if reviewCount and rating %}
      <div>({{ reviewCount }})</div>
      <div class="flex row ml-2 mr-3 ai-c">
        {% if wholeRating > 0 %}
          {% for i in (1..wholeRating) %}
            <span class="mt-2">
              {%- render 'star-yellow-full' -%}
            </span>
          {% endfor %}
        {% endif %}
        {% if halfStars == 1 %}
          <span class="mt-2">
            {%- render 'star-yellow-half' -%}
          </span>
        {% endif %}
        {% for j in (1..missing_stars) %}
          <span class="mt-2">
            {%- render 'star-yellow-none' -%}
          </span>
        {% endfor %}
      </div>
      <a href="https://www.trustedshops.de/bewertung/bewerten_X171CC05C7CF0FBC03EB75B9E6E73D132.html" class="nodec mt-1 ml-1" style="color: {{ tagBackground }};">Jetzt bewerten</a>
    {% else %}
      &nbsp;
    {% endif %}
{% endcase %}