<div class="color-{{ section.settings.color_scheme }} siegel-container">
  {% unless section.settings.backgroundImage == blank %}
    <img src="{{ section.settings.backgroundImage | image_url: width: 2560 }}" alt="{{ section.settings.backgroundImage.alt }}" width="2560" height="1104" loading="lazy" class="siegel-background">
  {% endunless %}
  <div class="siegel-content">
    <div class="siegel-badges">
      {%- for badge in section.blocks -%}
        <img src="{{ badge.image | image_url: width: 750 }}" alt="{{ badge.image.alt }}" width="200" height="200" loading="lazy" class="siegel-image">
      {%- endfor -%}
    </div>
  <div class="siegel-subline">
    {{ section.settings.subline }}
  </div>
  </div>
</div>

{% schema %}
{
  "name": "Siegel",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "inverse",
      "label": "t:sections.image-banner.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "backgroundImage",
      "label": "Hintergrundbild"
    },
    {
      "type": "text",
      "id": "subline",
      "label": "Anmerkung",
      "default": "* Umfrageergebnis von sleep.ink® Studie mit 200 Teilnehmer*innen, März 2021"
    }
  ],
  "blocks": [
    {
      "type": "badge",
      "name": "Siegel",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Bild"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Siegel",
      "settings": {
        "color_scheme": "inverse",
        "subline": "* Umfrageergebnis von sleep.ink® Studie mit 200 Teilnehmer*innen, März 2021"
      },
      "blocks": [
        {
          "type": "badge"
        },
        {
          "type": "badge"
        },
        {
          "type": "badge"
        }
      ]
    }
  ]
}
{% endschema %}