{% liquid 
  comment
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_font_dark
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_font_dark
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_font_light
      assign tagForeground = settings.colors_font_dark
    else
      assign tagBackground = settings.colors_font_dark
      assign tagForeground = settings.colors_background_1
  endcase
  endcomment

  case section.settings.heroWidth
    when 'full'
      assign heroWidth = "SectionGrid-Full"
    when 'wide'
      assign heroWidth = "SectionGrid-Wide"
    when 'narrow'
      assign heroWidth = "SectionGrid-Narrow"
    else
      assign heroWidth = "SectionGrid-Full"
  endcase

  case section.settings.alignment
    when 'left'
      assign justify = "ta-l"
      assign align = "ai-fs"
      assign jc = "jc-fs"
      assign column = "col-2-4"
      assign pl = "pl-0"
      assign margins = "ml-5"
    when 'center'
      assign justify = "ta-c"
      assign align = "ai-c"
      assign jc = "jc-c"
      assign column = "col-3"
      assign pl = "pl-8"
      assign margins = "mx-auto"
    else
      assign justify = "ta-c"
      assign jc = "jc-c"
      assign align = "ai-c"
      assign column = "col-3"
      assign pl = "pl-8"
      assign margins = "mx-auto"
  endcase

  case section.settings.fontColor
    when 'dark'
      assign color = settings.colors_font_dark
    when 'bright'
      assign color = settings.colors_font_light
    else
      assign color = settings.colors_font_light
  endcase

  case section.settings.height
    when 'high'
      assign paddings = "my-219px my-md-212px my-lg-270px"
    when 'flat'
      assign paddings = "my-56d my-md-92px my-lg-145px"
    else
      assign paddings = "my-56d my-md-92px my-lg-145px"
  endcase
%}

<div class="SectionGrid color-{{ section.settings.color_scheme }}">
  <div class="{{ heroWidth | escape }}">
    <div class="desktopgrid pagegrid" style="background-color: {{ section.settings.backgroundColor }};" id="header-desktop-wrapper">
      {% if section.settings.imageDesktop %}
          <img src="{{ section.settings.imageDesktop | image_url: width: 2000 }}" 
            srcset="{{ section.settings.imageDesktop | image_url: width: 2000 }} 1x, {{ section.settings.imageDesktop | image_url: width: 4000 }} 2x"
            alt="{{ section.settings.imageDesktop.alt }}" class="col-1-5 row-1 w-100p cover" id="header-img-desktop" width="1200" height="600" loading="lazy">
      {% endif %}
      <div class="flex row ai-c {{ justify | escape }} {{ column | escape }} {{ jc | escape }} row-1 w-95p {{ pl | escape }} ff-heading fs-46px lh-116 ls-m200 fw-600 {{ paddings | escape }}" style="color: {{ color | escape }}" id="header-content-wrapper-desktop">
        <div id="header-content-desktop">
        {{ section.settings.text }}
        </div>
      </div>
    </div>
    <div class="tabletgrid 1col 1row" style="background-color: {{ section.settings.backgroundColor }};" id="header-tablet-wrapper">
      {% comment %} 
        As the breakpoints are at 500w and 990w, we can also set the max image sizes to these widths
      {% endcomment %}
      {% if section.settings.imageTablet %}
        <img src="{{ section.settings.imageTablet | image_url: width: 1000 }}" 
          srcset="{{ section.settings.imageTablet | image_url: width: 1000 }} 1x, {{ section.settings.imageTablet | image_url: width: 2000 }} 2x"
          alt="{{ section.settings.imageTablet.alt }}" 
          class="col-1 row-1 w-100p cover" id="header-img-tablet" 
          width="800" height="250" loading="lazy">
      {% endif %}
      <div class="flex column jc-c {{ align | escape }} col-1 row-1 w-100p" id="header-content-wrapper-tablet">
        <div class="w-90p {{ margins | escape }} {{ justify | escape }} ff-heading fs-6 fs-md-42px lh-125 lh-md-110 ls-m100 ls-md-m200 fw-600 hyphen {{ paddings | escape }}" lang="de" style="color: {{ color | escape }}" id="header-content-tablet">
          {{ section.settings.text }}
        </div>
      </div>
    </div>
    <div class="mobilegrid 1col 1row" style="background-color: {{ section.settings.backgroundColor }};" id="header-mobile-wrapper">
      {% if section.settings.imageMobile %}
        <img src="{{ section.settings.imageMobile | image_url: width: 500 }}" 
          srcset="{{ section.settings.imageMobile | image_url: width: 500 }} 1x, {{ section.settings.imageMobile | image_url: width: 1000 }} 2x"
          alt="{{ section.settings.imageMobile.alt }}" 
          class="col-1 row-1 w-100p cover" id="header-img-mobile" 
          width="375" height="145" loading="lazy">
      {% endif %}
      <div class="flex column jc-c {{ align | escape }} col-1 row-1 w-100p" id="header-content-wrapper-mobile">
        <div class="w-90p {{ margins | escape }} {{ justify | escape }} ff-heading fs-6 fs-md-42px lh-125 lh-md-110 ls-m100 ls-md-m200 fw-600 hyphen {{ paddings | escape }}" lang="de" style="color: {{ color | escape }}" id="header-content-mobile">
          {{ section.settings.text }}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
function resizeImage(){
  const contentDesktop = document.getElementById("header-content-desktop").offsetHeight;
  const contentTablet = document.getElementById("header-content-tablet").offsetHeight;
  const contentMobile = document.getElementById("header-content-mobile").offsetHeight;
  const idealDesktopHeight = "{{ section.settings.height }}" === "high" ? `${contentDesktop + 540}` : `${contentDesktop + 290}`;
  const idealMobileHeight = "{{ section.settings.height }}" === "high" ? `${contentMobile + 438}` : `${contentMobile + 113}`;
  const idealTabletHeight = "{{ section.settings.height }}" === "high" ? `${contentTablet + 424}` : `${contentTablet + 184}`;
  if(document.querySelectorAll("#header-img-mobile").length > 0) {
    document.getElementById("header-img-mobile").height = idealMobileHeight;
    document.getElementById("header-mobile-wrapper").style.height = idealMobileHeight;
    document.getElementById("header-content-wrapper-mobile").style.height = idealMobileHeight;
  }
  if(document.querySelectorAll("#header-img-tablet").length > 0) {
    document.getElementById("header-img-tablet").height = idealTabletHeight;
    document.getElementById("header-tablet-wrapper").style.height = idealTabletHeight;
    document.getElementById("header-content-wrapper-tablet").style.height = idealTabletHeight;
  }
  if(document.querySelectorAll("#header-img-desktop").length > 0) {
    document.getElementById("header-img-desktop").height = idealDesktopHeight;
    document.getElementById("header-desktop-wrapper").style.height = idealDesktopHeight;
    document.getElementById("header-content-wrapper-desktop").style.height = idealDesktopHeight;
  }
}
window.addEventListener("load",resizeImage);
window.addEventListener("resize",resizeImage);
</script>

{% schema %}
{
  "name": "t:sections.small-page-hero.name",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-banner.settings.color_scheme.label"
    },
    {
      "type": "select",
      "id": "heroWidth",
      "label": "t:sections.small-page-hero.settings.element_width.label",
      "options": [
        {
          "value": "full",
          "label": "t:sections.small-page-hero.settings.element_width.option_full.label"
        },
        {
          "value": "wide",
          "label": "t:sections.small-page-hero.settings.element_width.option_wide.label"
        },
        {
          "value": "narrow",
          "label": "t:sections.small-page-hero.settings.element_width.option_narrow.label"
        }
      ],
      "default": "full"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:sections.small-page-hero.settings.element_height.label",
      "options": [
        {
          "value": "high",
          "label": "t:sections.small-page-hero.settings.element_height.option_high.label"
        },
        {
          "value": "flat",
          "label": "t:sections.small-page-hero.settings.element_height.option_flat.label"
        }
      ],
      "default": "flat"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.common-across-sections.settings.text_align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common-across-sections.settings.text_align.option_left.label"
        },
        {
          "value": "center",
          "label": "t:sections.common-across-sections.settings.text_align.option_center.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "t:sections.small-page-hero.settings.background_color.label"
    },
    {
      "type": "select",
      "id": "fontColor",
      "label": "t:sections.small-page-hero.settings.font_color.label",
      "options": [
        {
          "value": "dark",
          "label": "t:sections.small-page-hero.settings.font_color.option_dark.label"
        },
        {
          "value": "bright",
          "label": "t:sections.small-page-hero.settings.font_color.option_bright.label"
        }
      ],
      "default": "bright"
    },
    {
      "type": "image_picker",
      "id": "imageDesktop",
      "label": "t:sections.common-across-sections.settings.background_image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "imageTablet",
      "label": "t:sections.common-across-sections.settings.background_image_tablet.label"
    },
    {
      "type": "image_picker",
      "id": "imageMobile",
      "label": "t:sections.common-across-sections.settings.background_image_mobile.label"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "t:sections.small-page-hero.name",
      "settings": {
        "color_scheme": "background-1",
        "heroWidth": "full",
        "height": "flat",
        "alignment": "center"
      }
    }
  ]
}
{% endschema %}
